  <div class="contet_box">
    <div class="field">
      <br>
      <%= @contribution.content %>
    </div>
    <br>
    <div class="field">
      <%= image_tag(@contribution.picture.url) if @contribution.picture.url %>
      <br>
    </div>
    <br>
    <br>
  </div>
  
  <% unless @contribution.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(contribution_id: @contribution.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
